BOT_TOKEN = 

для отправки заявки на почту :
YANAME_TOKEN = с какой почты
YAPASS_TOKEN = пароль этой почты
SEND_MAIL_TOKEN = куда отправлять

для отправки заявки на AmoCRM :
DOMAIN_AmoCRM = 
LOGIN_AmoCRM = 
HASH_AmoCRM = 



Procfile обязательный файл. Там настройка для Heroku, без него не будет работать бот 24\7. 
Чтобы запускать приложение локально, советую программу protonvpn (бесплатно и работает великолепно)
